* {
  box-sizing: border-box;
  text-align: center;
}

#buttonsHere {
	text-align: left;
}

button {
	margin: 5px;
}

#textInput {
	text-align: left;
}

.gif {
	padding: 5px;
}

p {
	font-weight: bold;
	font-size: 20px;
}